.matrix {
    background-image: url('./images/8289995_25336.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title_text {
    color: #f5e6e6;
}

.navbar-right-image {
    margin-left: auto;
    margin-right: 15px;
}

.hide {
    display: none;
}

  /* Show the second div when hovering over the first div */
.myDIV:hover + .hide {
    display: block;
}

  /* Add styles as needed */
.myDIV {
    cursor: pointer;
    /* Add other styles as needed */
}

  /* Add styles for the images in the second div */
.hide img {
    /* Add image-specific styles */
    max-width: 100%;
    height: auto;
    /* Add other styles as needed */
}

